@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --neon-colour: #510cef;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
}

.neon-effect {
    margin: 0;
    font-size: 75px;
    text-align:center;
    font-weight: normal;
    padding: 0.4em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 15px var(--neon-colour),
    0 0 23px var(--neon-colour),
    0 0 36px var(--neon-colour),
    0 0 45px var(--neon-colour),
    0 0 70px var(--neon-colour);
    animation: pulse 1.5s infinite alternate;
    -webkit-animation: text-flicker-in-glow 4000ms linear infinite both;
    animation: text-flicker-in-glow 4000ms linear infinite both;
}

@keyframes pulse {
    0% {
        text-shadow: 
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 15px var(--neon-colour),
        0 0 23px var(--neon-colour),
        0 0 36px var(--neon-colour),
        0 0 45px var(--neon-colour),
        0 0 70px var(--neon-colour);
    }

    100% {
        text-shadow: 
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 18px #fff,
        0 0 36px var(--neon-colour),
        0 0 45px var(--neon-colour),
        0 0 65px var(--neon-colour),
        0 0 80px var(--neon-colour),
        0 0 110px var(--neon-colour);
    }
}

button {
    background-color: black;
    color: white;
    border: none;
    margin: 0;
    text-align:center;
    font-weight: normal;
    padding: 0.4em;
    text-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 15px var(--neon-colour),
    0 0 23px var(--neon-colour),
    0 0 36px var(--neon-colour),
    0 0 45px var(--neon-colour),
    0 0 70px var(--neon-colour);
}

.x-btn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 100px;
}

.o-btn {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 30pc;
    width: 80pc;
    background-color: black;
}

.board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.playCell {
    height: 15vh;
    width: 31%;
    font-size: 3em;
    background-color: rgb(0, 0, 0);
}

.bottom {
    background-color: var(--neon-colour);
    height: 2vh;
    width: 33%;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2), 
                inset 0 0 8px 0 rgb(255, 255, 255),
                0 0 2px white,
                0 0 6px white;
    border-radius: 25px;
}

.upright {
    background-color: var(--neon-colour);
    height: 15vh;
    width: 1%;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2), 
                inset 0 0 8px 0 rgb(255, 255, 255),
                0 0 2px white,
                0 0 6px white;
    border-radius: 25px;
}

#newGame {
    width: 100%;
    height: 8vh;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative; 
    font-size: 2.5em;
    text-align: center;
    margin-top: 5vh; 
}


/* ----------------------------------------------
 * Generated by Animista on 2024-6-12 13:42:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
 @-webkit-keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour) 0 0 110px var(--neon-colour) 0 0 100px var(--neon-colour)
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour) 0 0 110px var(--neon-colour) 0 0 100px var(--neon-colour)
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour) 0 0 60px var(--neon-colour), 0 0 110px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour) 0 0 60px var(--neon-colour), 0 0 110px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
  }
  @keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour) 0 0 110px var(--neon-colour) 0 0 100px var(--neon-colour)
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour), 0 0 60px var(--neon-colour) 0 0 110px var(--neon-colour) 0 0 100px var(--neon-colour)
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour) 0 0 60px var(--neon-colour), 0 0 110px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px var(--neon-colour) 0 0 60px var(--neon-colour), 0 0 110px var(--neon-colour), 0 0 100px var(--neon-colour)
    }
  }
  