@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --neon-colour: #510cef;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
}

.neon-effect {
    margin: 0;
    font-size: 75px;
    text-align:center;
    font-weight: normal;
    padding: 0.4em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 15px var(--neon-colour),
    0 0 23px var(--neon-colour),
    0 0 36px var(--neon-colour),
    0 0 45px var(--neon-colour),
    0 0 70px var(--neon-colour);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 15px var(--neon-colour),
        0 0 23px var(--neon-colour),
        0 0 36px var(--neon-colour),
        0 0 45px var(--neon-colour),
        0 0 70px var(--neon-colour);
    }

    100% {
        text-shadow: 
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 18px #fff,
        0 0 36px var(--neon-colour),
        0 0 45px var(--neon-colour),
        0 0 65px var(--neon-colour),
        0 0 80px var(--neon-colour),
        0 0 110px var(--neon-colour);
    }
}

button {
    background-color: black;
    color: white;
    border: none;
    margin: 0;
    text-align:center;
    font-weight: normal;
    padding: 0.4em;
    text-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 15px var(--neon-colour),
    0 0 23px var(--neon-colour),
    0 0 36px var(--neon-colour),
    0 0 45px var(--neon-colour),
    0 0 70px var(--neon-colour);
}

.x-btn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 100px;
}

.o-btn {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 30pc;
    width: 80pc;
    background-color: black;
}

.board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.playCell {
    height: 15vh;
    width: 31%;
    font-size: 3em;
    background-color: rgb(0, 0, 0);
}

.bottom {
    background-color: var(--neon-colour);
    height: 2vh;
    width: 33%;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2), 
                inset 0 0 8px 0 rgb(255, 255, 255),
                0 0 2px white,
                0 0 6px white;
    border-radius: 25px;
}

.upright {
    background-color: var(--neon-colour);
    height: 15vh;
    width: 1%;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2), 
                inset 0 0 8px 0 rgb(255, 255, 255),
                0 0 2px white,
                0 0 6px white;
    border-radius: 25px;
}

#newGame {
    width: 100%;
    height: 8vh;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative; 
    font-size: 2.5em;
    text-align: center;
    margin-top: 5vh; 
}
