.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 30pc;
    width: 80pc;
}

.board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.playCell {
    height: 15vh;
    width: 8vw;
    font-size: 40px;
}

#newGame {
    width: 10vw;
    height: 8vh;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
    top: 10px;
    left: 6pc;   
}